@media screen and (min-width: 500px) {

    header,
    nav,
    main,
    footer {
        max-width: 1024px;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        flex: 1;
    }

    h2 {
        text-align: start;
    }

    .wrap {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1rem;
    }

    #profile,
    .card {
        box-shadow: 2px 2px 10px 5px rgba(247, 202, 201, 0.5);
    }

    #copyright {
        display: flex;
        justify-content: center;
        gap: .8rem;
    }
}